@font-face {
  font-family: 'CGaramondSemi';
  src: url('../fonts/CormorantGaramond-SemiBold.ttf');
}
@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirNext-Regular.ttf);
}
@font-face {
  font-family: 'AvenirDemi';
  src: url(../fonts/AvenirNext-DemiBold.ttf);
}
@font-face{
  font-family: 'AvenirMed';
  src: url(../fonts/AvenirNext-Medium.ttf);
}
html{
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-y: scroll;
}
body{
  font-size: 16px;
  font-family: 'Avenir', sans-serif;
  color: #181A1B;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  color: inherit;
}
.link--dotted {
  border-bottom: 0.5px dotted rgba(0,0,0,0.5);
}
.link--blue {
  color: rgba(19,77,182,0.8);
}

a:hover{
  /* put a transition effect here */
  opacity: 0.9;
  transition: 0.4s;
}

p{
  padding: 0;
  margin: 0 0 16px 0;
  color: #3a3f42;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  object-fit: cover;
}
.main{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  flex-direction: row;
  width: 92vw;
  max-width: 1330px;
  margin: 6em auto 0;
}
.nav{
  width: 100%;
  margin: 0 auto 3em;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  box-sizing: border-box;
}
.nav__name{
  font-family: 'CGaramondSemi';
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  color: rgba(34,36,39,0.85);
  padding: 0;
  margin:0;
  line-height: 0.8;
}
.nav__title{
  font-family: 'CGaramondSemi';
  font-size: 1.4rem;
  color: rgba(34,36,39,0.75);
  padding: 0;
  margin:0;
}
@media only screen and (max-width: 600px) {
  .main {
    margin: 1.5em auto;
  }
  .nav__name span {
    display: none;
  }
  .nav {
    margin: 0;
  }
}
.nav__link{
  margin-left: 0.0125vw;
  color: rgba(34,36,39,0.75);
  font-size: 0.9em;
}

.content {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  order: 3;
  align-self: flex-start;
}

.label{
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: .75em;
  font-family: 'AvenirDemi', sans-serif;
  font-weight: bold;
  color: #134db6;
  margin-bottom: 4px;
}

/* BUTTONS */
.buttons {
  display: flex;
  margin: 0 0 5em;
}
.buttons__link{
  margin-left: 3em;
  color: rgba(34,36,39,0.8);
  font-size: 1em;
}
@media only screen and (max-width: 600px) {
  .buttons__link{
    margin-left: 1.5em;
    font-size: 0.9em;
  }
}

/* NEW FILE */
.page__top{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0 auto;
  flex-flow: column;
}
.page__top--bg{
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  background: #134db6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  flex-flow: column;
}
.page__bottom{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0 auto;
  flex-direction: column;
}

.page__top--bg .nav__name, .page__top--bg .nav__title {
  color: #ffffff;
}
.page__top--inner{
  margin: 0 auto;
}
.page__header{

}
.intro{
  width: 100%;
  margin: 0 auto 5em;
}
.headline{
  width: calc(100% * .75 - 1.5rem);
  font-family: 'AvenirMed';
  font-size: 5.25vw;
  line-height: 5.5vw;
  margin: 0;
  letter-spacing: -0.35vw;
  min-height: 8vw;
}
@media only screen and (max-width: 600px) {
  .headline{
    width: 100%;
    font-family: 'AvenirMed';
    font-size: 9.25vw;
    line-height: 12.5vw;
    margin: 0;
    letter-spacing: -0.35vw;
    min-height: 0vw;
  }
}
.headline span {

}
.home__grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home__bottom{
  display: flex;
  width: 100%;
  align-self: flex-start;
  flex-wrap: wrap;
  margin: 40px auto;
  background: red;
}
.home__recentWork{
  width: 50%;
  box-sizing: border-box;
}
.home__experience{
  width: 50%;
  box-sizing: border-box;
}
.recentWork__title{
  padding: 0;
  margin: 20px 0 0 0;
}
.highlights{
  margin: 20px 0 60px 0;
}
.highlight{
  margin-bottom: 20px;
}

.highlight__date{
  margin: 0;
  font-size: 1em;
  color: rgba(34,36,39,0.75);
}
.highlight__title{
  font-weight: bold;
  font-size: 1em;
  margin: 2px 0;

}
.highlight__company{
  margin: 0;
  font-size: 1em;
}

.areas__li{
  font-size: 0.9em;
  font-weight: bold;
  margin: 10px 0;
}

/* NEW FILE */

.footer{
  padding: 20px 0;
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  order: 99;
  border-top: 0.5px solid rgba(0,0,0,0.15);
  box-sizing: border-box;
  margin: 4em 0 0 0;
  /*
  margin: 0 calc(1.25em + 20px);
  */
}
.footer__center{
  display: flex;
  justify-content: space-between;
  min-width: 20%;
}
.footer__link{
  color: rgba(34,36,39,0.8);
  font-size: 0.9em;
}
@media only screen and (max-width: 600px){
  .footer__center {
    min-width: 50%;
  }
}

/* RESUME */

.resume{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.resume__left{
  width: 63%;
  box-sizing: border-box;
}
.resume__right{
  width: 33%;
  box-sizing: border-box;
}
.section{
  padding-top: 0px;
  padding-bottom: 30px;
}

.section__label{
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75em;
  font-family: 'AvenirDemi', sans-serif;
  font-weight: bold;
  color: #134db6;
  margin-bottom: 12px;
  line-height: 1;
}
.section__label--border{
  font-family: 'AvenirDemi';
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75em;
  font-weight: bold;
  color: rgba(19,77,182,0.8);
  padding: 12px 0px 8px 0px;
  line-height: 1;
  border-top: 0.5px solid rgba(0,0,0,0.15);
  border-bottom: 0.5px solid rgba(0,0,0,0.15);
  margin-bottom: 10px;
}

.summary {
  padding-top: 4px;
}
.role{
  margin-bottom: 16px;
}
.role__header{
  margin: 8px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.role__title{
  font-family: 'AvenirDemi';
}
.role__company{
  margin-left: 6px;
  font-size: 0.95em;
  color: rgba(34,36,39,0.75);
}
.role__date{
  font-size: 0.925em;
  color: rgba(34,36,39,0.75);
  text-align: right;
}
.role__details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}
.role__detail{
  padding: 3px 0px 3px 0;
  margin-left: 12px;
  text-indent: -10px;
}
.role__detail::before{
  content: "-";
  padding-right: 3px;
  color: rgba(34,36,39,0.75);
}
.skill {
  padding: 4px 0px 4px 0px;
}
.skill__list--label{
  font-family: 'AvenirDemi';
}
.bottom{
  align-self: flex-end;
  order: 99;

}
.portfolio__label{
  padding-top: 12px;
  display: ;
  font-size: 10px;
  line-height: 1.2;
  font-style: italic;
  color: rgba(34,36,39,0.75)
}

/* PROJECTS LIST */
.projects__grid{
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  top: 10px;
}
.project__tile{
  margin: 0.75vw 0;
  width: calc(50% - 0.75vw);
  padding-top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project__tile:hover{
  opacity: 1;
}

/* PROJECT PAGE */

.project{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}
.project__headline {
  font-size: 1.8em;
  padding: 10px 0;
}
.project__main{}

.project__img--main{
  width: 100%;
  padding-bottom: 52.83018867924528%;
  background-position: center center;
  background-size: cover;
  margin-top: 2em;
  margin-bottom: 1em;
}
.project__about{
  display: flex;
  width: 100%;
  max-width: 960px;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 2em auto 0;
}
.project__img--detail{
  max-width: 100%;
  display: inline-flex;
  margin: 20px 0;
}

.project__description{
  font-family: 'AvenirDemi';
  width: 100%;
  font-size: 3.25rem;
  line-height: 3.5rem;
  margin: 1rem auto;
  letter-spacing: -0.1vw;
}
@media only screen and (max-width: 600px) {
  .project__description {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
.project__details{
  color: rgba(34,36,39,0.75);
  margin: 1em 0;
}
.project__text{
  max-width: 680px;
  margin: 1.5rem auto 1.5rem;
  vertical-align: text-top;
  font-size: 18px;
}
.project__images{
  max-width: 960px;
  margin: 0 auto;
}
.image__container{
  width: 100%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: calc(100vw * 0.4);
}
.image__wrap--78{
  display: flex;
  flex-wrap: wrap;
  width: 78%;
  max-height: calc(100vw * 0.678);
  margin: 3rem auto;
  padding: 0;
  /* box-shadow: 0 0 20px rgba(0,0,0,0.05); */
  border-radius: 2px;
}
.project__image{
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}
.image__bar{
  background-color: #c3c3c3;
  height: 1.6vw;
  max-height: 14px;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .home__left,
  .home__right,
  .home__bottom,
  .home__experience,
  .resume__left,
  .resume__right,
  .projects__grid,
  .project__left,
  .project__right {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .resume {
    display: flex;
    flex-wrap: wrap;
  }
  .projects__grid{

  }
  .project__tile{
    width: 100%;
    max-width: 100%;
    padding-top: 80%;
    margin-left: 0;
    margin-right: 0;
  }
  .nav__name{
    letter-spacing: 0;
  }
}
