{% extends 'public/base.html' %}

{% block content %}
<div class="pagetitle">
  <h1>I design and develop digital products</h1>
</div>

<div class="sect aboutintro">
  <div class="three">
    Maybe he has a little friend that lives right over here. Only think about one thing at a time. Don't get greedy. And just raise cain. Everybody needs a friend. Anytime you learn something your time and energy are not wasted. Let's go up in here, and start having some fun
  </div>
  <div class="three">
    I was blessed with a very steady hand; and it comes in very handy when you're doing these little delicate things. Work on one thing at a time. Don't get carried away - we have plenty of time. We need dark in order to show light.
  </div>
</div>

<div class="sect">

</div>
{% endblock %}
