<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}"/>

    <title>Michael D Harrington</title>
  </head>
  <body>
  <div class="main" style="margin: 0 auto;">
    <div class="page">
    {% include 'public/components/nav.html' %}

    <div class="button__grid">

      <a class="button button--home" href="{% url 'home' %}"><img src="{% static 'icons/grid.svg' %}" alt="Grid" {% if request.path == '/' %} class="current"{% endif %}></a>
      <!-- <a class="button" href="#"></a> -->
      <a class="button button--res" href="{% url 'resume' %}"><img src="{% static 'icons/doc.svg' %}" alt="Resume" {% if request.path == '/resume/' %} class="current"{% endif %}></a>
    </div>


    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    </div>

    {% include 'public/components/footer.html' %}
  </div>

  </body>
</html>
