<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}"/>

    <title>Michael D Harrington</title>
  </head>
  <body style="margin: 0 auto;">
  <div class="main" style="">

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    {% include 'public/components/footer.html' %}
  </div>

  </body>
</html>
