{% extends 'public/base.html' %}


{% block content %}

<div class="page__top">

  <div class="page__header grid">
  {% include 'public/components/nav.html' %}

    <div class="intro">
      <h1 class="headline">I design and build products for <span>people</span>.</h1>
    </div>

    {% include 'public/components/buttons.html' %}

    <div class="projects__grid">
      {% for project in object_list %}

        {% if project.is_published %}
        <a class="project__tile" style="background-image: url({{ project.tile.url }});" href="/projects/{{ project.id }}/"></a>
        {% endif %}

      {% endfor %}
    </div>
  </div>
</div>



{% endblock %}
