{% extends 'public/base.html' %}

{% block content %}

<div class="page__top" {% if project.img_main %}{% endif %}>

  <div class="page__header">
  {% include 'public/components/nav.html' %}

  </div>

</div>

<div class="page__bottom project">


  <div class="project__about">

    {% if project.description %}
    <div class="project__description">
      {{ project.description }}
    </div>
    {% if project.detail %}
      <p class="project__details">{{ project.detail }}</p>
    {% endif %}
    {% endif %}

    {% if project.img_main %}
    <div class="project__img--main" style="background-image: url({{ project.img_main.url }})"></div>
    {% endif %}

    {% if project.text %}
    <div class="project__text">
      <p>{{ project.text|linebreaks }}</p>
    </div>
    {% endif %}



  </div>

  <div class="project__images">
    {% for image in project.images.all %}
    <div class="image__container" style="background:{{ image.bg_color }};">
      <div class="image__wrap--78">
        {% if image.image_type == DESK %}
        <div class="image__bar"></div>
        {% endif %}
        <img class="project__image" src="{{ image.image.url }}" alt="test">
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
