{% extends 'public/base.html' %}

{% block content %}

<div class="page__top--bg" {% if project.img_main %}style="background-image: linear-gradient(120deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) 50%), url({{ project.img_main.url }})"{% endif %}>
  <div class="page__top--inner grid">

    <div class="page__header">
    {% include 'public/components/nav.html' %}

      <div class="intro">
        <h1 class="headline">{{ project.title }}</h1>
      </div>

    {% include 'public/components/buttons.html' %}

    </div>

  </div>
</div>

<div class="page__bottom project grid">
  <div class="project__about">

    {% if project.description %}
    <div class="project__description">
      {{ project.description }}
    </div>
    {% endif %}

    {% if project.text %}
    <div class="project__text">
      <p>{{ project.text|linebreaks }}</p>
    </div>
    {% endif %}

    {% if project.detail %}
      <p class="project__details">{{ project.detail }}</p>
    {% endif %}

  </div>

  <div class="project__images">
    {% for image in project.images.all %}
    <div class="image__container" style="background:{{ image.bg_color }};">
      <div class="image__wrap--78">
        {% if image.image_type == DESK %}
        <div class="image__bar"></div>
        {% endif %}
        <img class="project__image" src="{{ image.image.url }}" alt="test">
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
