{% extends 'public/base.html' %}

{% block content %}

<div class="pagetitle">
  <h1>Resume</h1>
</div>

<div class="sect intro">
  <div class="label">

  </div>
  <div class="">
    <div class="">

    </div>
  </div>
</div>

<div class="sect work">
  <div class="item">
    <div class="f">
      <hr>
      <div class="label">
        Work
      </div>
    </div>
  </div>
  <div class="item">
    <div class="l">
      <div class="title">
        <h3>
          Pear Design
        </h3>
      </div>
      <div class="dates">
        Feb 2017 - Present
      </div>
    </div>
    <div class="r">
      <h3>
        Web Designer
      </h3>
      <p>
        Take your time. Speed will come later. We have all at one time or another mixed some mud. Every time you practice, you learn more.
      </p>
      <p>
        Take your time. Speed will come later. We have all at one time or another mixed some mud. Every time you practice, you learn more.
      </p>
      <p>
        Take your time. Speed will come later. We have all at one time or another mixed some mud. Every time you practice, you learn more.
      </p>
    </div>
  </div>
  <div class="item">
    <div class="l">
      <div class="title">
        <h3>
          Pear Group, LLC
        </h3>
      </div>
      <div class="dates">
        Feb 2017 - Present
      </div>
    </div>
    <div class="r">
      <h3>
        Digital Strategy Consultant
      </h3>
      <p>
        Take your time. Speed will come later. We have all at one time or another mixed some mud. Every time you practice, you learn more.
      </p>
      <p>
        Take your time. Speed will come later. We have all at one time or another mixed some mud. Every time you practice, you learn more.
      </p>
    </div>
  </div>
  <div class="item">
    <div class="l">
      <div class="title">
        <h3>
          Foundation for Creative Diplomacy
        </h3>
      </div>
      <div class="dates">
        Feb 2017 - Present
      </div>
    </div>
    <div class="r">
      <h3>
        Program Director
      </h3>
      <p>
        Take your time. Speed will come later. We have all at one time or another mixed some mud. Every time you practice, you learn more.
      </p>
      <p>
        Take your time. Speed will come later. We have all at one time or another mixed some mud. Every time you practice, you learn more.
      </p>
      <p>
        Take your time. Speed will come later. We have all at one time or another mixed some mud. Every time you practice, you learn more.
      </p>
    </div>
  </div>
</div>

<div class="sect education">
  <div class="item">
    <div class="f">
      <hr>
      <div class="label">
        Education
      </div>
    </div>
  </div>
  <div class="item">
    <div class="f">
      <div class="title">
        <div class="">
          <h3>
            Rutgers, The State University of New Jersey
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="l">
      <div class="">
        B.A. Geography
      </div>
      <div class="dates">
        May 2015
      </div>
    </div>
    <div class="r">
        Concentration in Spatial Data Analysis<br>
        Edward J Bloustein School of Planning & Public Policy<br>
        Certificates in Urban Planning; Real Estate
    </div>
  </div>
</div>

<div class="sect skills">
  <div class="label">
    Skills
  </div>
  <div class="">
    <p>
      [Highly experienced with] design software including Figma and Adobe Creative Suite.
    </p>
    <p>
      Strong command of frontend development languages including HTML/CSS, Javascript ES6.
    </p>
    <p>
      Programming Languages
    </p>
    <ul>
      <li>Javascript ES6</li>
      <li>React.js</li>

    </ul>
  </div>

  <ul>
    <li></li>
  </ul>
</div>

<div class="sect projects">

</div>

<div class="sect personal">

</div>

<hr>

</div>

{% endblock %}
